## <b>Assignment on Classification technique</b> :
#
Every year many students give the GRE exam to get 
admission in foreign Universities. The data set contains GRE Scores (out of 340), TOEFL Scores 
(out of 120), University Rating (out of 5), Statement of Purpose strength (out of 5), Letter of 
Recommendation strength (out of 5), Undergraduate GPA (out of 10), Research Experience 
(0=no, 1=yes), Admitted (0=no, 1=yes). Admitted is the target variable.
#
<i>Data Set Available on kaggle (The last column of the dataset needs to be changed to 0 or 1) Data
Set: https://www.kaggle.com/mohansacharya/graduate-admissions</i>
#
The counselor of the firm is supposed check whether the student will get an admission or not
based on his/her GRE score and Academic Score. So to help the counselor to take appropriate
decisions build a machine learning model classifier using Decision tree to predict whether a
student will get admission or not.
Apply Data pre-processing (Label Encoding, Data Transformationâ€¦.) techniques if
necessary.
* Perform data-preparation (Train-Test Split)
* Apply Machine Learning Algorithm
* Evaluate Model

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df=pd.read_csv("../Dataset/Admission_Predict.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
data=df
data['Admitted'] = data['Chance of Admit '].apply(lambda x: 1 if x >= 0.5 else 0)
data.drop(columns=['Chance of Admit '], inplace=True)
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admitted
0,1,337,118,4,4.5,4.5,9.65,1,1
1,2,324,107,4,4.0,4.5,8.87,1,1
2,3,316,104,3,3.0,3.5,8.00,1,1
3,4,322,110,3,3.5,2.5,8.67,1,1
4,5,314,103,2,2.0,3.0,8.21,0,1

In [4]:
X = data[['GRE Score', 'CGPA']]
y = data['Admitted']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Decision Tree Classifier

In [6]:
clf = DecisionTreeClassifier(random_state=42)

In [7]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [8]:
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.9125
Classification Report:
              precision    recall  f1-score   support

           0       0.71      0.50      0.59        10
           1       0.93      0.97      0.95        70

    accuracy                           0.91        80
   macro avg       0.82      0.74      0.77        80
weighted avg       0.90      0.91      0.91        80